---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { SUPABASE_URL } from 'astro:env/client';
import HeaderWidget from '../components/HeaderWidget.svelte';
---

<StarlightPage frontmatter={{ title: 'Supabase', topic: 'edge-worker', template: 'splash' }}>
  <HeaderWidget />
  <p>This is a custom page with a custom component:</p>
  url: <a href={SUPABASE_URL}>{SUPABASE_URL}</a>
</StarlightPage>
