---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Hero.astro';
import HeroWithSlot from './HeroWithSlot.astro';
import LandingPageCodeExamples from './LandingPageCodeExamples.mdx';
import PgflowLandingPageCodeExamples from './PgflowLandingPageCodeExamples.mdx';

const isHomepage = Astro.props.id === '';
const isPgflowLanding = Astro.props.id === 'pgflow/new-landing';
---

{
isHomepage ? (
<HeroWithSlot {...Astro.props}>
  <div class="glow-box">
  <LandingPageCodeExamples/>
  </div>
</HeroWithSlot>
) : isPgflowLanding ? (
<HeroWithSlot {...Astro.props}>
  <div class="">
  <PgflowLandingPageCodeExamples/>
  </div>
</HeroWithSlot>
) : (
<Default {...Astro.props}/>
)
}

<style>
  .glow-box {
    position: relative;
    transition: transform 0.6s ease;
  }

  .glow-box::before {
    content: '';
    position: absolute;
    inset: -3px;
    background: linear-gradient(45deg,
      /* color-mix(in srgb, var(--logo-glow-color) 80%, white), */
      color-mix(in srgb, var(--sl-color-accent-low) 80%, white),
      color-mix(in srgb, var(--sl-color-accent-low) 80%, white)
    );
    border-radius: 16px;
    filter: blur(12px);
    opacity: 0.2;
    z-index: -1;
    transition: all 0.6s ease;
  }

  .glow-box:hover {
    transform: translateY(-4px);
  }

  .glow-box:hover::before {
    filter: blur(20px);
    opacity: 0.4;
  }
</style>
