---
import { Card } from '@astrojs/starlight/components';
---

<h2>Join the Community</h2>

<Card title="Connect on Discord" icon="discord">
  Have questions or need help? pgflow is just getting started - join us on Discord to ask questions, share feedback, or discuss partnership opportunities.

  <h5><strong><a href="https://pgflow.dev/discord/" class="plausible-event-name=discord:join-click">Join Discord →</a></strong></h5>
</Card>
