---
import { Aside } from "@astrojs/starlight/components";
---

<Aside type="danger" title="Not production ready">
	<strong>Edge Worker</strong> is currently in <strong>Alpha</strong> stage and not yet production ready.
	See <a href="/edge-worker/project-status">Project Status</a> page for more details.
</Aside>
