:root {
  --sl-color-accent-low: #102925;
  --sl-color-accent: #007b6e;
  --sl-color-accent-high: #b3d0ca;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e6f0ee;
  --sl-color-gray-2: #b8c5c3;
  --sl-color-gray-3: #78928d;
  --sl-color-gray-4: #465e59;
  --sl-color-gray-5: #263d39;
  --sl-color-gray-6: #152c28;
  --sl-color-black: #101a19;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #c6dcd8;
  --sl-color-accent: #007a6d;
  --sl-color-accent-high: #0e3a34;
  --sl-color-white: #14191c;
  --sl-color-gray-1: #152c28;
  --sl-color-gray-2: #263d39;
  --sl-color-gray-3: #465e59;
  --sl-color-gray-4: #78928d;
  --sl-color-gray-5: #b8c5c3;
  --sl-color-gray-6: #e6f0ee;
  --sl-color-gray-7: #f2f8f6;
  --sl-color-black: #ffffff;
}

/* glow variables */
:root {
  --logo-glow-color: rgba(153, 121, 211, 0.4);
}

:root[data-theme='light'] {
  --logo-glow-color: rgba(153, 121, 211, 0.7);
}

/* Logo styling */
svg .primary {
  fill: var(--sl-color-accent);
}

svg .secondary {
  fill: var(--sl-color-accent-high);
}

.hero img {
  animation: scale-up 4s ease-in-out forwards,
    breathing-glow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes scale-up {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

@keyframes breathing-glow {
  0%,
  100% {
    filter: drop-shadow(0 0 0 transparent);
  }

  50% {
    filter: drop-shadow(0 0 30px var(--logo-glow-color));
  }
}
