/* Dark mode colors. */
:root {
  --sl-color-accent-low: #002b26;
  --sl-color-accent: #007b6e;
  --sl-color-accent-high: #a3d4cb;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e7f0ee;
  --sl-color-gray-2: #c2cdca;
  --sl-color-gray-3: #92a8a3;
  --sl-color-gray-4: #495d59;
  --sl-color-gray-5: #2a3d39;
  --sl-color-gray-6: #182b28;
  --sl-color-black: #121a19;
}

/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #bce0d9;
  --sl-color-accent: #00574d;
  --sl-color-accent-high: #003b34;
  --sl-color-white: #121a19;
  --sl-color-gray-1: #182b28;
  --sl-color-gray-2: #2a3d39;
  --sl-color-gray-3: #495d59;
  --sl-color-gray-4: #7c918d;
  --sl-color-gray-5: #bac5c2;
  --sl-color-gray-6: #e7f0ee;
  --sl-color-gray-7: #f3f7f6;
  --sl-color-black: #ffffff;
}

/* glow variables */
:root {
  --logo-glow-color: rgba(153, 121, 211, 0.4);
}

:root[data-theme='light'] {
  --logo-glow-color: rgba(153, 121, 211, 0.7);
}

/* Logo styling */
svg .primary {
  fill: var(--sl-color-accent);
}

svg .secondary {
  fill: var(--sl-color-accent-high);
}

.hero img {
  animation: scale-up 4s ease-in-out forwards,
    breathing-glow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes scale-up {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

@keyframes breathing-glow {

  0%,
  100% {
    filter: drop-shadow(0 0 0 transparent);
  }

  50% {
    filter: drop-shadow(0 0 30px var(--logo-glow-color));
  }
}

/* CALL TO ACTION BUTTON */
.call-to-action {
  font-weight: bold;
  box-shadow: 0 0 10px var(--logo-glow-color), 0 0 15px var(--logo-glow-color);
  filter: brightness(1.15);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 10px var(--logo-glow-color), 0 0 20px var(--logo-glow-color),
      0 0 30px var(--logo-glow-color);
  }
}

/* QUICKSTART SECTION */
.quickstart-section {
  margin: 8px auto 28px;
  text-align: center;
  max-width: 500px;
  transition: transform 0.3s ease-in-out;
}

.quickstart-section:hover {
  transform: scale(1.05);
}

.quickstart-section pre {
  padding: 16px;
  text-align: center;
  font-size: 1.5rem;
}

.quickstart-section code {
  font-size: 1.5rem !important;
}

.quickstart-caption {
  font-size: 13px;
  margin-top: 8px;
  text-align: center;
}

.quickstart-caption a:hover {
  text-decoration: underline;
}

/* Responsive styles for quickstart section */
@media (max-width: 768px) {
  .quickstart-section {
    max-width: 90%;
  }

  .quickstart-section pre {
    padding: 12px;
    font-size: 1.1rem;
  }

  .quickstart-section code {
    font-size: 1.1rem !important;
  }
}

@media (max-width: 480px) {
  .quickstart-section pre {
    padding: 10px;
    font-size: 0.9rem;
  }

  .quickstart-section code {
    font-size: 0.9rem !important;
  }

  .quickstart-caption {
    font-size: 11px;
  }
}
