/* Dark mode colors. */
:root {
	--sl-color-accent-low: #102925;
	--sl-color-accent: #007b6e;
	--sl-color-accent-high: #b3d0ca;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e9eff2;
	--sl-color-gray-2: #bcc3c8;
	--sl-color-gray-3: #808e96;
	--sl-color-gray-4: #4e5a62;
	--sl-color-gray-5: #2e3a41;
	--sl-color-gray-6: #1d282f;
	--sl-color-black: #14191c;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #c6dcd8;
	--sl-color-accent: #007a6d;
	--sl-color-accent-high: #0e3a34;
	--sl-color-white: #14191c;
	--sl-color-gray-1: #1d282f;
	--sl-color-gray-2: #2e3a41;
	--sl-color-gray-3: #4e5a62;
	--sl-color-gray-4: #808e96;
	--sl-color-gray-5: #bcc3c8;
	--sl-color-gray-6: #e9eff2;
	--sl-color-gray-7: #f4f7f9;
	--sl-color-black: #ffffff;
}

/* Logo styling */
svg .primary {
	fill: var(--sl-color-accent);
}

svg .secondary {
	fill: var(--sl-color-accent-high);
}

.hero img {
	transition: all 1.5s ease;
}

.hero img:hover {
	transform: scale(1.2);
	filter: drop-shadow(0 0 15px var(--sl-color-accent));
}
