project_id = "edge-worker"

[api]
enabled = true
port = 50321

[db]
port = 50322
shadow_port = 50320
major_version = 17

[db.pooler]
enabled = true
port = 50329
pool_mode = "transaction"
default_pool_size = 200
max_client_conn = 250

[db.seed]
enabled = true
sql_paths = []

[edge_runtime]
enabled = true
policy = "per_worker"
inspector_port = 8083

# disable unused features
[realtime]
enabled = true
[studio]
enabled = false
[inbucket]
enabled = false
[analytics]
enabled = false
[storage]
enabled = false
[auth]
enabled = false

[functions.cpu_intensive]
enabled = true
verify_jwt = false
import_map = "./functions/deno.json"
entrypoint = "./functions/cpu_intensive/index.ts"

[functions.max_concurrency]
enabled = true
verify_jwt = false
import_map = "./functions/deno.json"
entrypoint = "./functions/max_concurrency/index.ts"

[functions.pgflow]
enabled = true
verify_jwt = false
import_map = "./functions/deno.json"
entrypoint = "./functions/pgflow/index.ts"
